.not-found-container {
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#not-found-text {
    font-size: 22px;
    color: black;
}

#not-found-icon {
    width: 70px;
    margin-right: 30px;
}